/* CSS files add styling rules to your content */

body {
  font-family: Verdana, sans-serif;
  margin: 2em;
  font-size: 30px;
  color: #000000;
  background-image: url('https://cdn.glitch.com/0ba0a101-3619-4eed-b83c-629b083c2061%2F190504-bronx-science.png?v=1616272623973');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

div {
  opacity: 0.9;
  background-color: green;
  width: 1250px;
  border: 15px solid gold;
  padding: 40px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.div2 {
  opacity: 0.85;
  background-color: gold;
  width: 1350px;
  border: 15px solid green;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: -20px;
  margin-left: 10px;
}

.div3 {
  opacity: 0.85;
  background-color: black;
  border: 0px black;
  padding:0px;
  margin:0px;
  position:absolute;
  top: 10px;
  color: white;
  width: 1500px;
  font-size: 15px;
}

h1 {
  font-family: "Verdana";
  font-style: italic;
  color: #FFD700;
  text-shadow: 2px 2px #ff0000;
  font-size: 100px;
}

button {
  font-family: Abel; 
  display: inline-block;
  padding: 15px 35px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4CAFFF;
  border-radius: 15px;
  box-shadow: 0 10px #000000;
  height: 50px;
  width: 150px;
  margin-top: 25px;
}

button:hover {background-color: #E3E321}

button:active {
  background-color: #E3E321;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

img {
  float: left;
  width: 160px;
  height: 200px;
}

.button2 {
  border-radius: 6px;
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  color: #0148ff;
  cursor: pointer;
  background-color: #8CFF85;
  border: 3px solid #f44336;
  height: 50px;
  width: 150px;
  box-shadow: 0 0px;
  position:absolute;
  top:60px;
  right:0px;
  padding: 0px 0px;
}

.button2:hover {
  opacity: .75;
}

.button2:active {
  box-shadow:0 0px;
  transform: none;
}

.button3 {
  margin-top: 0px;
  margin-bottom: 20px;
}